body {
  font-family: Arial;
  background: #f9fd02;
  padding: 30px;
}

input, button {
  padding: 10px;
  margin: 5px;
}

button {
  cursor: pointer;
}

#result {
  font-weight: bold;
  margin-top: 15px;
}